/*
* 2018/12/13  lize
 */
@charset "utf-8";
* {
  box-sizing: border-box;
}
body,html{
  height: 100%;
  background-color: #f4f4f4;
}

body,
nav,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h6,
h5,
ul,
ol,
li,
input,
button,
textarea,
footer,
menu,
select {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Microsoft Yahei';
  /*font:18px/1.5 'Microsoft Yahei','Simsun';*/
  color: #353d44;
  /*background:#efefef;*/
  -webkit-text-size-adjust: none;
  min-width: 1300px;
  /*font-family: Arial,Helvetica,sans-serif,'Lucida Grande',Verdana;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

ul,
menu {
  list-style: none
}

a {
  text-decoration: none;
  color: #1a1a1a
}
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-family: Microsoft YaHei;
  vertical-align: middle;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button
}


/*input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}*/

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


/*.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display: block;}*/

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
